
<div class="flex flex-row justify-around">
  <div class="border border-solid border-black border-1 p-8 mt-8 flex-grow mx-4">
    <h2 class="text-20">Skills</h2>
    <ul class="text-16">
      <li>
        Front End / Web
        <ul class="list-disc ml-8">
          <li>Angular2+</li>
          <li>HTML5</li>
          <li>CSS</li>
          <li>JavaScript</li>
        </ul>
      </li>
      <li>
        Back End
        <ul class="list-disc ml-8">
          <li>NodeJS</li>
          <li>Java</li>
          <li>C++</li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="border border-solid border-black border-1 p-8 mt-8 flex-grow mx-4">
    <h2 class="text-20">Background/Education</h2>
    <ul class="list-disc text-16">
      <li>UCLA</li>
      <li>Juggling</li>
    </ul>
    <img
  </div>
</div>