<section>
  <h1 class="w-250 m-auto mt-10 mb-5 sm:m-10 sm:mb-10 p-4 rounded bg-gray-200 text-20 font-bold text-rebecca-500 text-center box-shadow-no-hover">About Me</h1>

  <div #about class="mb-8 sm:mb-16 flex flex-col flex-wrap justify-around sm:flex-row sm:items-stretch xxl:relative xxl:top-10p">    
    <div class="m-3 mb-4 lg:mb-3 sm:mx-auto p-4 rounded bg-gray-200 self-stretch flex flex-col box-shadow">
      <h2 class="text-20 text-center">Primary Skills</h2>
      <div class="p-8 pr:24 sm:pr-28     box-border border-2 border-rebecca-500 bg-white flex-grow"><!--sm:max-w-3xl   w-full sm:w-500 lg:w-450 xl:w-500-->
        <ul class="md:ml-10 sm:ml-12 text-base list-inside">
          <li class="mb-2 sm:-ml-8 px-5 border-b border-rebecca-500 inline-block"><strong>Front End / Web</strong></li><!-- underline p-4 -->
          <li>
            <ul class="list-none relative"> <!-- list-disc -->
              <li class="logo-parent angular">
                <div>Angular2+</div>
                <div class="rounded-full w-custom">
                  <img width="50px" src="../../assets/about/angular.png">
                </div>
              </li>
              <li class="logo-parent css">
                <div>CSS</div>
                <div class="rounded-full w-custom">
                  <img src="../../assets/about/css.png">
                </div>
              </li>
              <li class="logo-parent html">
                <div>HTML5</div>
                <div class="rounded-full w-custom">
                  <img src="../../assets/about/html5.png">
                </div>
              </li>
              <li class="logo-parent javascript">
                <div>JavaScript</div>
                <div class="rounded-full w-custom">
                  <img src="../../assets/about/javascript.png">
                </div>
              </li>
              <li class="logo-parent typescript">
                <div>TypeScript</div>
                <div class="rounded-full w-custom">
                  <img src="../../assets/about/typescript.png">
                </div>
              </li>

            </ul>
          </li>
          <li class="mb-2 mt-4 sm:-ml-8 px-5 border-b border-rebecca-500 inline-block"><strong>Back End</strong></li>
          <li>
            <!-- <div class=""></div> h-px w-100 bg-rebecca-500 -ml-4 -->
            <ul class="list-none">
              <li class="logo-parent node">
                <div>NodeJS / Express</div>
                <div class="rounded-full w-custom">
                  <img src="../../assets/about/node.png">
                </div>
              </li>
              <li class="logo-parent java">
                <div>Java</div>
                <div class="rounded-full w-custom">
                  <img src="../../assets/about/java.png">
                </div>
              </li>
              <li class="logo-parent cpp">
                <div>C++</div>
                <div class="rounded-full w-custom">
                  <img src="../../assets/about/cpp.png">
                </div>
              </li>
            </ul>
          </li>
          <li class="mb-2 mt-4 sm:-ml-8 px-5 border-b border-rebecca-500 inline-block"><strong>Other Skills</strong></li>
          <li class="">
            <ul class="list-none">
              <li class="logo-parent github">
                <div>GitHub</div>
                <div class="rounded-full w-custom">
                  <img src="../../assets/about/github.png">
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  <footer 
    class="w-screen h-3 bg-rebecca-500 bottom-0"
    [ngClass]="footerPositionValue">
  </footer>
</section>

