<h1 class="m-10 text-rebecca-500 font-bold text-20">A sampling of my recent projects:</h1>

<div class="flex flex-row justify-around content-center mt-10">
  <div class="p-4 bg-gray-200 rounded"> <!-- class="border border-solid border-black border-1" -->
    <div class="h-350 flex flex-col justify-center bg-white border-solid border-rebecca-500 border-2">
      <a href="https://cgol-angular.web.app/main" target="blank" title="Check out the cgol app!">
        <img 
        src="../../assets/cgol-landing.png" 
        alt="my version of Conway's game of life" 
        width="500px"
        >
      </a>
    </div>
    <label for="">This img is about such and suhc</label>
    <ul class="list-disc ml-10 text-16">
      <li>My version of Conway's Game of Life, built in Angular.</li>
      <li>Be sure to check out the Angular Material themed stopwatch!</li>
    </ul>
  </div>

  <div>
    <div class="h-350">
      <a href="https://danego.github.io/circle-puzzle" target="blank" title="Check out the puzzle app!">
        <img 
        src="../../assets/circle-puzzle-full.png" 
        alt="my puzzle solution page" 
        width="500px" 
        class="border-solid border-rebecca-500 border-2">
      </a>
    </div>
    <label>Hello there</label>
    <ul class="list-disc ml-10 text-16">
      <li>A solution generator and visual display for the <em>Concentra</em> Puzzle.</li>
      <li>Currently built with only vanilla JavaScript.</li>
    </ul>
  </div>
</div>