<h1 class="w-250 m-auto mt-10 mb-5 sm:m-10 sm:mb-10 p-4 rounded bg-gray-200 text-20 font-bold text-rebecca-500 text-center box-shadow-no-hover">My Recent Projects</h1>

<div #projects class="sm:mb-9 mt-5 sm:mt-10 flex flex-col justify-around content-center lg:flex-row lg:flex-wrap md:items-stretch ultra:relative ultra:top-10p box-shadow-container">

  <div class="project-card project-card-first"> <!-- class="border border-solid border-black border-1" -->
    <div class="picture-container">
      <a href="https://concentra-solver.appspot.com" target="blank" title="Check out the new puzzle solver!">
        <picture >
          <source media="(max-width: 767px)" srcset="../../assets/projects/concentra-solver-small.png">
          <source media="(min-width: 768px)" srcset="../../assets/projects/concentra-solver.png"> 
          <img width="650px" src="../../assets/projects/concentra-solver.png" alt="my Concentra puzzle app">
        </picture>
      </a>
    </div>
    <label class="text-20"><em>Concentra</em> Puzzle (Angular Version)</label>
    <ul class="project-ul lg:mt-4">
      <li>The new and improved version! Now the puzzle is interactive while also providing info and hints about solutions.</li>
      <li>The core functionality is built off of the Angular Material Drag & Drop with a lot of customization for features like the piece banks.</li>
      <li>Development for this one is ongoing so stay tuned for upcoming features.</li>
      <li>See the <a href="https://github.com/danego/circle-puzzle-angular" target="blank" class="underline hover:text-teal-500">code repo on GitHub.</a></li>
    </ul>
  </div>

  <div class="project-card">
    <div class="picture-container py-4 bg-white">
      <a href="https://cgol-angular.web.app/landing" target="blank" title="Check out the cgol app!">
        <picture >
          <source media="(max-width: 767px)" srcset="../../assets/projects/cgol-landing-small.png">
          <source media="(min-width: 768px)" srcset="../../assets/projects/cgol-landing.png">
          <img width="650px" src="../../assets/projects/cgol-landing.png" alt="my version of Conway's game of life">
        </picture>
      </a>
    </div>
    <label class="text-20">CGoL</label>
    <ul class="project-ul lg:mt-4 ">
      <li>My version of Conway's Game of Life, built in Angular.</li>
      <li>Angular Features: Multiple components, a service, reactive forms, and multiple custom directives.</li>
      <li>Be sure to check out the Angular Material themed stopwatch!</li>
      <li>See more info on the <a href="https://github.com/danego/CGoL-angular" target="blank" class="underline hover:text-teal-500">CGoL GitHub repo!</a></li>
    </ul>
  </div>

  <div class="project-card">
    <div class="mb-3 picture-container">
      <a href="https://danego.github.io/circle-puzzle" target="blank" title="Check out the puzzle app!">
        <picture>
          <source media="(max-width: 767px)" srcset="../../assets/projects/circle-puzzle-full-small.png">
          <source media="(min-width: 768px)" srcset="../../assets/projects/circle-puzzle-full.png">
          <img 
            src="../../assets/projects/circle-puzzle-full.png" 
            alt="my puzzle solution page"
            width="650px">
        </picture>
      </a>
    </div>
    <label class="text-20"><em>Concentra</em> Puzzle Solver</label>
    <ul class="project-ul">
      <li>A solution generator and visual display for the <em>Concentra</em> Puzzle, an edge-matching puzzle claiming but a single solution.</li>
      <li>Solved using brute force to try out all of the possible permutations and found 63 solutions.</li>
      <li>Currently built with only vanilla JavaScript, HTML, and CSS.</li>
      <li>Check out the <a href="https://github.com/danego/circle-puzzle" target="blank" class="underline hover:text-teal-500">puzzle GitHub repo!</a></li>
    </ul>
  </div>

  <div class="project-card">
    <div class="picture-container">
      <img 
        src="../../assets/projects/home-pic-white.png" 
        alt="snapshot of this portfolio site" 
        width="650px">
    </div>
    <label class="text-20">Portfolio</label>
    <ul class="project-ul">
      <li>Obviously you're here, but check out the repo and readme for more info: <a href="https://github.com/danego/portfolio" target="blank" class="underline hover:text-teal-500">portfolio GitHub repo!</a></li>
      <li class="hidden list-visible">Hover over the initials to see the Angular Animations photo popup.</li>
      <li>Angular Features: Routing, animations, hostlisteners, and more!</li>
      <li>(Honeycomb SVG pattern is created by Steve Schoger, <a href="http://www.heropatterns.com/" target="blank" class="underline hover:text-teal-500">Hero Patterns</a>, CC 4.0).</li>
    </ul>
  </div>

  <div class="project-card">
    <div class="picture-container">
      <a href="https://danego.github.io/covid-movie-seat-booking/" target="blank" title="Check out the movie picker!">
        <img 
          src="../../assets/projects/movie-picker.png" 
          alt="my movie seat selector page" 
          width="650px">
      </a>
    </div>
    <label class="text-20">Movie Seat Picker</label>
    <ul class="project-ul">
      <li>This is a small group project that I led. As a team, we built the core functionality. On my own, I spruced up the appearance to better match the regular movie-going experience and added some small features for the after-purchase state.</li>
      <li>It's built with JavaScript, HTML, and CSS. The current CSS is a mix of Tailwind and vanilla CSS.</li>
      <li>See our group's repo for more info: <a href="https://github.com/GitFitCode/covid-movie-seat-booking" target="blank" class="underline hover:text-teal-500">movie picker on GitHub!</a></li>
    </ul>
  </div>

  <!-- empty item to align odd 'project' div -->
  <!--
  -->
    <div class="p-4 m-3 md:mx-auto hidden lg:block ultra:hidden no-box-shadow">
      <div class="mb-3 sm:w-500 lg:w-450 xl:w-500 xxl:w-650"></div>
    </div>
</div>

<footer 
  class="w-screen h-3 mt-3 bg-rebecca-500 bottom-0"
  [ngClass]="checkLargestContentOrScreen(projects)">
</footer>