
<h1 class="m-10 text-rebecca-500 font-bold text-20 ultra:text-center">Contact me!</h1>
<!-- <p class="text-16 text-rebecca-500">Also/Or check out my other work.</p> -->


<section class="lg:relative lg:top-1/2 ultra:top-15p lg:-mt-200 lg:-mt-250 ultra:mt-0 flex flex-col-reverse flex-wrap lg:flex-row justify-around items-center"> <!-- h-425 bg-gray-200 m-8 -->
  
  <div class="p-6 m-3 lg:m-auto bg-gray-200 rounded-lg">
    <a href="https://github.com/danego" target="blank">
      <div class="w-200 h-200 lg:w-250 lg:h-250 border-2 border-rebecca-500 rounded flex flex-col items-center justify-center bg-white">
        <div class="w-150 h-150 lg:w-200 lg:h-200 flex flex-col items-center justify-center">
          <img class="h-150" src="../../assets/contact/github-light.png">
        </div>
        <h3 class="mt-2 sm:mt-0 text-20 text-rebecca-500 text-center hover:text-teal-500 hover:underline">GitHub</h3>
      </div>
    </a>
  </div>
  
  <div class="p-6 m-3 lg:m-auto bg-gray-200 rounded-lg">
    <a href="https://linkedin.com/in/dane-neves-4105301ba" target="blank">
      <div class="w-200 h-200 lg:w-250 lg:h-250 border-2 border-rebecca-500 rounded flex flex-col items-center justify-center bg-white">
        <div class="w-150 h-150 lg:w-200 lg:h-200 flex flex-col items-center justify-center">
          <img class="w-150" src="../../assets/contact/linkedin-square.png">
        </div>
        <h3 class="text-20 text-rebecca-500 text-center hover:text-teal-500 hover:underline">LinkedIn</h3>
      </div>
    </a>
  </div>
  
  <div class="p-6 m-3 lg:m-auto bg-gray-200 rounded-lg">
    <a href="mailto:neves.dane@gmail.com">
      <div class="w-200 h-200 lg:w-250 lg:h-250 border-2 border-rebecca-500 rounded flex flex-col items-center justify-center bg-white">
        <div class="w-150 h-150 lg:w-200 lg:h-200 flex flex-col items-center justify-center">
          <img class="w-150" src="../../assets/contact/email-logo.png">
        </div>
        <h3 class="text-16 text-rebecca-500 text-center hover:text-teal-500 underline hover:underline">neves.dane@gmail.com</h3>
      </div>
    </a>
  </div>
</section>

<footer class="w-screen h-3 bg-rebecca-500 mt-3 lg:hidden"></footer>
