// $tile-size: 15%; // 100px;
$row-size: 10%;
$row-size-half: 5%;

.frame {
    width: 100%;
    height: 100%;
    border: 1px solid cyan;
    box-sizing: border-box;

    margin: 100px;

    width: 1000px;
    height: 500px;

    .frame-offset {
        width: 100%;
        height: 100%;
        position: relative;
        left: -$row-size;
        top: -$row-size;
    }
}

.row {
    display: flex;
    flex-direction: row;
    height: $row-size;

    position: relative;
    top: $row-size-half;
}

.row-even {
    position: relative;
    top: 0;
    // left: 50px;
    left: $row-size-half;  // will only work when width stays 2x height ...
}


.row-shift {
    display: flex;
    flex-direction: row;
    position: relative;
    top: -$row-size-half; // -25px;

}