<html id="content" class="h-full min-h-screen" [ngClass]="{ 'gradient-bg': displayGradient }">  <!-- lg:h-screen min-h-screen-->
  <nav class="h-24 p-6 rounded-md bg-teal-200 text-16 text-white sticky top-0 z-20 flex-grow-0 flex justify-between items-center"> <!-- border border-purple-600 border-b-4 -->
    <!-- mx-5 my-16-->

    <app-navigate-mobile *ngIf="displayMobileNav"></app-navigate-mobile>

    <div *ngIf="!displayMobileNav">           
      <!-- Note: RouterLinkActive attribute would be an easier alternative -->
      <a routerLink="/" class="nav-link" [ngClass]="{ 'nav-link-current': onHome }">
        HOME
      </a>
      <a routerLink="/about" class="nav-link" [ngClass]="{ 'nav-link-current': onAbout }">
        ABOUT
      </a>
      <a routerLink="/projects" class="nav-link" [ngClass]="{ 'nav-link-current': onProjects }">
        PROJECTS
      </a>
    </div>

    <div class="flex items-center">
      <app-hover-photo [onHomePage]="onHome"></app-hover-photo>
    </div>
  </nav>

  <div [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</html>