<div> 
  <span class="mx-5 text-20 font-medium text-rebecca-500"><em>DGN</em></span>
  
  <div 
    class="w-200 h-200 mt-8 mr-3 border border-gray-300 rounded-lg bg-gray-500 bg-opacity-95 absolute right-0 flex-col justify-center items-center hidden sm:flex" 
    *ngIf="photoDropEnabled" [@popupPhoto]>
    
    <picture 
      class="w-64 h-64 border border-gray-400 rounded-full" 
      *ngIf="photoDropEnabled"
      [@popupPhoto]>
      <source media="(max-width: 767px)" srcset="../../assets/profile-face-500.png">
      <source media="(min-width: 768px)" srcset="../../assets/profile-face-1mb.png">
      <img src="../../assets/profile-face-1mb.png" alt="my profile photo">
    </picture>
    
    <p class="mt-2 text-base text-gray-200">Dane G. Neves</p>
  </div>
</div>