<div>
  <span class="text-20 text-rebecca-500 mx-5"><em>DGN</em></span>
  
  <div 
    class="h-200 w-200 bg-gray-500 bg-opacity-95 rounded-lg border border-gray-300 absolute mt-8 mr-3 right-0 flex-col justify-center items-center hidden sm:flex" 
    *ngIf="photoDropEnabled">
    
    <img 
      src="../../assets/profile_face.png" 
      alt="my profile photo" 
      class="border border-gray-400 rounded-full h-64 w-64"
      *ngIf="photoDropEnabled">
    <p class="text-16 text-gray-200">Dane G. Neves</p>
  </div>
</div>