<!-- Menu Icon -->
<svg 
  class="w-12 h-12 sm:hidden" 
  (click)="onEnterNav()"
  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="rebeccapurple" 
  width="18px" height="18px"><path d="M0 0h24v24H0z" fill="none"/>
  <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
</svg>

<div *ngIf="displayPopupNav" [@mobileNavFade] id="nav-popup" class="bg-gray-800 bg-opacity-75 h-screen w-screen fixed absolute top-0 left-0 z-10" (click)="checkToCloseOnClick($event.target)"> <!-- for shaded popup nav background-->
  <div id="button-panel" class="flex flex-col absolute top-0 left-0 bg-gray-200 fixed h-full p-1 border-r-2 border-gray-600 z-20">
    
    <!-- Exit Icon -->
    <svg 
      class="w-9 h-9 m-1 mb-10 self-end sm:hidden"  
      (click)="onExitNav()"
      xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#38b2ac" width="18px" height="18px">
      <path d="M0 0h24v24H0z" fill="none"/>
      <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
    </svg>
    
    <a routerLink="/" routerLinkActive="nav-link-current" [routerLinkActiveOptions]="{exact: true}" (click)="onExitNav()" class="nav-link inline-block">
      HOME
    </a>
    <a routerLink="/about" routerLinkActive="nav-link-current" [routerLinkActiveOptions]="{exact: true}" (click)="onExitNav()" class="nav-link inline-block">
      ABOUT
    </a>
    <a routerLink="/projects" routerLinkActive="nav-link-current" [routerLinkActiveOptions]="{exact: true}" (click)="onExitNav()" class="nav-link inline-block">
      PROJECTS
    </a>
  </div>
</div>