@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;1,300&display=swap');

html {
  font-size: 10px;
}

.nav-link-current {
  @apply bg-teal-500 text-white !important
}
//CONSIDER making links all same width ...
.nav-link {
  @apply inline-block rounded text-teal-500 px-5 py-1 m-1 text-base
}
.nav-link:hover {
  @apply text-teal-700
}

// alternative: 
// inline-block bg-teal-300 rounded text-white px-2 m-1 hover:bg-teal-500
.bg-hero {
  background-color: #ece5e5; //WHICH COLOR? DIRTY OR ...
  background-color: #edf2f7; // ... CLEAN MATCHING
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%2300b6b6' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.gradient-bg {
  background: white;
}
@screen md {
  .gradient-bg {
    background: linear-gradient(25deg, #cbd5e0 40%, rgba(255, 255, 255, 1) 40%),
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='70' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%2300b6b6' fill-opacity='0.1' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");  
    
    /*
    rgba(187, 185, 185, .9)
    background: linear-gradient(45deg, rgba(255, 255, 255, .9) 35%, transparent 45%),
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='70' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%2300b6b6' fill-opacity='0.1' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    */
  }
}

.text-lato {
  font-family: 'Lato', sans-serif;
}
/* For un-hiding list item*/
@screen sm {
  .list-visible {
    display: list-item !important;
  }
}

/* Home Page */
@screen md {
  .bg-gradient-home {
    background: linear-gradient(to right top, #e2e8f0 50%, #edf2f7 50%);
  }
}

/* About Page - Progress Bars */
.w-custom {
  width: calc(100% - 20px);
}
@screen sm {
  .w-custom {
    width: 400px;
  }
}

/* Projects Page */
/* Main Card */
.project-card {
  @apply m-3 my-6 px-4 py-8 rounded bg-gray-200 flex flex-col items-center justify-evenly
}
@screen sm {
  .project-card {
    @apply px-5 mx-auto
  }
}
@screen lg {
  .project-card {
    @apply my-10 mt-3
  }
}
.project-card-first {
  @apply mb-6 !important
}
@screen lg {
  .project-card-first {
    @apply mb-10 !important
  }
}

/* Picture & Container Border */
.picture-container {
  @apply max-w-3xl mb-3 border-solid border-2 border-rebecca-500 rounded flex flex-col justify-center 
}
@screen lg {
  .picture-container {
    @apply max-w-2xl
  }
}
@screen xl {
  .picture-container {
    @apply max-w-lg
  }
}
@screen 2xl {
  .picture-container {
    @apply max-w-none
  }
}



/* Descriptive Text */
.project-ul {
  @apply ml-10 text-base list-disc
}
@screen sm {
  .project-ul {
    @apply w-475
  }
}
@screen lg {
  .project-ul {
    @apply w-425
  }
}
@screen xl {
  .project-ul {
    @apply w-475
  }
}
@screen 2xl {
  .project-ul {
    @apply w-629
  }
}
