
<div class="">
  <div class="object-left">
    <a class="nav-link-current">HOME</a>
    <a class="nav-link" routerLink="/about">ABOUT</a>
    <a class="nav-link" routerLink="/projects">PROJECTS</a>
    <a class="nav-link" routerLink="/contact">CONTACT</a>
  </div>
  <img 
    src="../../assets/profile_face.png" 
    alt="my profile photo" 
    class="border border-purple-600 rounded-full h-40 w-40 float-right mr-3">
  <!-- <div class="border bg-purple-300 rounded-full h-20 w-20 float-right mr-3">IMG HERE</div> -->
</div>
<p class="bg-teal-500 hover:bg-teal-700 rounded p-4 text-white border border-purple-600 m-3">home works ... kinda!</p>

<article class="w-screen h-40 bg-hero">
  WoW Doggie
</article>

<main class="bg-gray-200 w-screen text-lg mt-5">
  Welcome to my portfolio, the land of incomprehensible references and elaborate solutions. I'm Dane.
</main>
