<main class="flex flex-col" [ngStyle]="{ 'height.px': noHeaderVH }"> <!-- h-screen flex flex-col-->

    
  <!--
    <div class="w-screen h-32 bg-hero flex justify-center items-center border-t-4 border-purple-600"></div>
  -->
  
  <article class="m-6 xxl:m-12 ultra:m-24 bg-gray-200 text-20 sm:text-4xl text-lato font-semibold flex-grow flex flex-col justify-around sm:justify-evenly lg:justify-center items-center text-center">
    <div class=""> <!--lg:relative lg:bottom-60-->
      <p class="sm:mx-4 lg:mx-8">
        Ready to tackle all kinds of challenges with my love of problem solving.
        <br>
        What I bring to the table: a direct way to increase your company's average variable name length, immediately.
      </p>
    </div>
    <div class="lg:mt-24 xxl:mt-32"> <!--  lg:relative lg:top-60-->
      <img 
        src="../../assets/profile_face.png" 
        alt="my profile photo" 
        class="border border-purple-600 rounded-full h-64 w-64 float-right"> <!--mt-24-->
      <p class="relative sm:top-5">I'm Dane.</p>
    </div>
  </article>

  <div class="w-screen h-32 bg-hero flex justify-center items-center border-t border-b-8 border-purple-600"></div>

</main>
  

<!-- 
  <div class="sm:mx-4 lg:mx-8">
        <p>
          Ready to tackle all kinds of challenges with my love of problem solving.
        </p>
        <div class="sm:hidden w-4 h-4 bg-rebecca-500"></div>
        <p>
          What I bring to the table: a direct way to increase your company's average variable name length, immediately.
        </p>
      </div>
-->