<main class="flex flex-col" [ngStyle]="{ 'height.px': noHeaderVH }"> <!-- h-screen flex flex-col-->

    
  <!--
    <div class="w-screen h-32 bg-hero flex justify-center items-center border-t-4 border-purple-600"></div>
  -->
  
  <article class="m-6 xxl:m-12 ultra:m-24 bg-gray-200 text-20 sm:text-4xl text-lato font-semibold text-center flex-grow flex flex-col justify-around sm:justify-evenly lg:justify-center items-center bg-gradient-home">
    <div class=""> <!--lg:relative lg:bottom-60-->
      <p class="sm:mx-4 lg:mx-8">
        Ready to tackle all kinds of challenges with my love of problem solving.
        <br>
        What I bring to the table: a keenness to contribute and the dedication to continue to grow as a developer.
      </p>
    </div>
    <div 
      class="lg:mt-24 xxl:mt-32 rounded-full relative flex justify-center items-center" 
      [ngStyle]="{'width': profileSurroundingCircleSize + 'px', 'height': profileSurroundingCircleSize + 'px'}">
      <p 
        class="absolute sm:top-5 w-40 h-12 rounded-full bg-gray-200 md:bg-gray-300 z-10"
        [positionCircle]="0"
        [pieceWidth]="100"
        [pieceHeight]="40"
        [circleSize]="profileSurroundingCircleSize"
        [rotationDisabled]="true">
        I'm Dane.
      </p>
      <div 
        class="w-12 absolute"
        *ngIf="circlePositions.iconOne !== 0"
        [positionCircle]="circlePositions.iconOne"
        [pieceWidth]="30"
        [pieceHeight]="25"
        [circleSize]="profileSurroundingCircleSize">
        <a href="https://linkedin.com/in/dane-neves-4105301ba" target="blank" title="LinkedIn">
          <img width="30px" src="../../assets/contact/linkedin-square-dark.png">
        </a>
      </div>
      <div 
        class="w-12 absolute"
        *ngIf="circlePositions.iconTwo !== 0"
        [positionCircle]="circlePositions.iconTwo"
        [pieceWidth]="30"
        [pieceHeight]="30"
        [circleSize]="profileSurroundingCircleSize">
        <a href="https://github.com/danego" target="blank" title="GitHub">
          <img width="30px" src="../../assets/contact/github-light.png">
        </a>
      </div>
      <div 
        class="w-12 absolute"
        *ngIf="circlePositions.iconThree !== 0"
        [positionCircle]="circlePositions.iconThree"
        [pieceWidth]="30"
        [pieceHeight]="25"
        [circleSize]="profileSurroundingCircleSize">
        <a href="mailto:neves.dane@gmail.com" title="Email me!">
          <img width="30px" src="../../assets/contact/email-logo.png">
        </a>
      </div>

      <picture 
        class="w-64 h-64 border border-purple-600 box-border rounded-full absolute cursor-pointer"
        (click)="onAnimateCircleElements()"> <!-- mt-28 -ml-32 -->
        <source media="(max-width: 767px)" srcset="../../assets/profile-face-500.png">
        <source media="(min-width: 768px)" srcset="../../assets/profile-face-1mb.png">
        <img src="../../assets/profile-face-1mb.png" alt="my profile photo">
      </picture>
    </div>
  </article>

  <div class="w-screen h-32 border-t border-b-8 border-purple-600 bg-hero flex justify-center items-center"></div>

</main>
  

<!-- 
  <div class="sm:mx-4 lg:mx-8">
        <p>
          Ready to tackle all kinds of challenges with my love of problem solving.
        </p>
        <div class="sm:hidden w-4 h-4 bg-rebecca-500"></div>
        <p>
          What I bring to the table: a direct way to increase your company's average variable name length, immediately.
        </p>
      </div>
-->